google-cloud-core~=2.4.3
google-cloud-logging~=3.12.1
google-cloud-secret-manager==2.20.2
psutil==7.1.3
# TODO(b/468062329): Replace with regular pip version when released.
https://github.com/huggingface/transformers/archive/65dc261512cbdb1ee72b88ae5b222f2605aad8e5.tar.gz#egg=transformers
scipy~=1.16.3
torch~=2.9.1
-r serving_framework/requirements.in
-r serving_framework/triton/requirements.in
